.root {
    -fx-background-color: #2b2b2b;
    -fx-font-family: "Segoe UI", "Roboto", sans-serif;
}

/* input field */
.text-field {
    -fx-background-color: #1e293b;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #94a3b8;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-border-color: #334155;
    -fx-padding: 12 15; /* Top/Bottom 12, Left/Right 15 */
    -fx-font-size: 14px;
}

/* outer box */
.text-area {
    -fx-background-color: #1e293b;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #94a3b8;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-border-color: #334155;
    -fx-padding: 12 15; /* Top/Bottom 12, Left/Right 15 */
    -fx-font-size: 16px;
}

/* inner box */
.text-area .content {
    -fx-background-color: #1e293b;

    -fx-background-radius: 15px;
    -fx-border-radius: 15px;

    -fx-padding: 10px;
}

/* scrollbar fix */
.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}
.text-area .scroll-bar {
    -fx-opacity: 0;
    -fx-transition: 0.3s;
}

.button {
    -fx-background-color: #38bdf8;
    -fx-text-fill: #0f172a;
    -fx-font-weight: bold;
    -fx-background-radius: 25;
    -fx-padding: 12 30;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #7dd3fc;
}